@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:300,900");

// Set your brand colors
$pink: #ef629f;
$yallow: #eecda3;
$light-gray: #f5f5f5;
$dark: #555;
$green: #52C41A;
$light-green: #F6FFED;
$red: #F5222D;
$light-red: #FFF1F0;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $pink;
$link: $pink;

// Update some of Bulma's component variables
$body-background-color: #fff;
$control-border-width: 2px;
$input-border-color: $light-gray;
$input-shadow: none;

html,
body {
  height: 100%;
}
html {
  background: linear-gradient(to bottom right, $yallow, $pink);
  background-size: cover;
  overflow-y: auto;
}
// Import only what you need from Bulma
/* @import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass"; */
